<div class="col-6 mx-auto" style="margin-top: -10px">
  <div class="d-flex" *ngFor="let item of items; let i = index">
    <div class="card flex-row flex-wrap col-11 my-2">
      <div class="card-header border-0">
        <img style="max-height: 80px" [src]="item.url" alt="item image">
      </div>
      <div class="card-block px-2">
        <h3 class="card-title">{{ item.name | shorten: 38 }}</h3>
        <p class="card-text">${{ (item.price/100).toFixed(2) }}</p>
      </div>
      <div class="w-100"></div>
    </div>
    <button style="padding: 0!important; max-width: 30px!important; height: 30px!important; border: none!important;"
            class="col-1 my-auto btn-danger ml-3 btn-sm text-center"
            (click)="onRemove(i)">X
    </button>
  </div>
  <button *ngIf="items.length > 0"
          class="btn btn-primary btn-block my-3"
          [routerLink]="['checkout']">Go to checkout</button>
  <h3 *ngIf="items.length <= 0" class="text-center">Your cart is empty!</h3>
</div>

