CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

CREATE TABLE "Users" (
    "Id" serial NOT NULL,
    "Email" character varying(127) NOT NULL,
    "Password" character varying(127) NOT NULL,
    "IsAdmin" boolean NOT NULL,
    CONSTRAINT "PK_Users" PRIMARY KEY ("Id"),
    CONSTRAINT "UIndex_User_Email" UNIQUE ("Email")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20190521155224_AddUsers', '2.2.4-servicing-10062');

CREATE TABLE "Orders" (
    "Id" serial NOT NULL,
    "FirstName" character varying(63) NOT NULL,
    "LastName" character varying(63) NOT NULL,
    "PostalCode" character varying(7) NOT NULL,
    "HouseNr" character varying(5) NOT NULL,
    "StreetName" character varying(63) NOT NULL,
    "Residence" character varying(63) NOT NULL,
    "PhoneNr" character varying(12) NOT NULL,
    "TotalPrice" integer NOT NULL,
    "CurDate" timestamp without time zone NOT NULL,
    "UserId" integer NOT NULL,
    CONSTRAINT "PK_Orders" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Orders_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_Orders_UserId" ON "Orders" ("UserId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20190522120750_AddOrders', '2.2.4-servicing-10062');

CREATE TABLE "Items" (
    "Id" serial NOT NULL,
    "Name" character varying(127) NOT NULL,
    "Description" character varying(4095) NOT NULL,
    "Url" character varying(511) NOT NULL,
    "Available" boolean NOT NULL,
    "Price" integer NOT NULL,
    CONSTRAINT "PK_Items" PRIMARY KEY ("Id")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20190524074436_AddItems', '2.2.4-servicing-10062');



CREATE TABLE "CartItems" (
    "Id" serial NOT NULL,
    "UserId" integer NOT NULL,
    "ItemId" integer NOT NULL,
    CONSTRAINT "PK_CartItems" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_CartItems_Items_ItemId" FOREIGN KEY ("ItemId") REFERENCES "Items" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_CartItems_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_CartItems_ItemId" ON "CartItems" ("ItemId");

CREATE INDEX "IX_CartItems_UserId" ON "CartItems" ("UserId");



