a{
  color: black;
  text-decoration: none;
}

.item-card{
  width: 18rem;
  height: 25rem;
  position: relative;
}

.img-container{
  height: 200px;
  margin: auto;
}

img{
  height: 100%;
  width: auto;
}

p{
  font-size: small
}
