<div class="d-flex mt-2 justify-content-start">
  <div class="img-container col-3 mt-0">
    <img class="img-display"
      [src]="item.url"
      alt="item image"/>
  </div>
  <div class="col-7">
    <div class="card mx-auto">
      <div class="mx-2 mb-2">
        <div class="card-title">
          <h1>{{ item.name }}
            <span>${{ (item.price/100).toFixed(2) }}</span>
          </h1>
          <span style="font-size: large" class="mt-1 badge badge-success"
                *ngIf="item.available">available</span>
          <span style="font-size: large" class="badge badge-danger"
                *ngIf="!item.available">unavailable</span>
        </div>
        <p class="card-text" style="white-space: pre-wrap;">
          {{ item.description }}
        </p>
        <h5 class="text-center text-success" *ngIf="addedToCart">added item to cart</h5>
        <button *ngIf="isAuthorized"
                class="btn btn-primary btn-block"
                (click)="addToCart()"
        >Add to cart</button>
      </div>
    </div>
  </div>
</div>
